* {
    margin: 0; // 모든 요소의 기본 마진 제거
    padding: 0; // 모든 요소의 기본 패딩 제거
    box-sizing: border-box; // 박스 크기를 콘텐츠와 패딩, 테두리를 포함하도록 설정
}

body {
    font-family: Arial, sans-serif; // 기본 글꼴
    background-color: #f7f8fa; // 페이지 배경색
    color: #333; // 기본 텍스트 색상
}

button {
    font-family: inherit; // 부모 요소의 글꼴 속성을 상속
}

a {
    text-decoration: none; // 링크 밑줄 제거
    color: inherit; // 부모 요소의 텍스트 색상을 상속
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0; // 제목 태그의 기본 마진 제거
    font-weight: normal; // 제목 태그의 기본 글꼴 두께를 일반으로 설정
}